@{
    ViewData["Title"] = "Home Page";
}
@model HCAaudit.Service.Portal.AuditUI.Models.BindSearchGrid

<form asp-controller="Search" asp-action="Details" method="post" role="form">
    <main class="container neu-margin--top-20">
        <fieldset>
            <div id="ShowQuestions" class="row neu-margin--bottom-20 ">
                @if (Model._dataforGrid.Count != 0)
                {
                <div class="neu-text col-2 gridHeader" style="background-color: black; color: white; padding: 2px;">
                    <b>TicketNumber</b>
                </div>
                    <div class="neu-text col-2 gridHeader" style=" background-color: black; color: white; padding: 2px;">
                        <b>CreatedDate</b>
                    </div>
                    <div class="neu-text col-2 gridHeader" style=" background-color: black; color: white; padding: 2px;">
                        <b>Status</b>
                    </div>
                    <div class="neu-text col-2 gridHeader" style="background-color: black; color: white; padding: 2px;">
                        <b>Subject</b>
                    </div>
                    <div class="neu-text col-2 gridHeader" style=" background-color: black; color: white; padding: 2px;">
                        <b>CreatedDate</b>
                    </div>
                    <div class="neu-text col-2 gridHeader" style=" background-color: black; color: white; padding: 2px;">
                        <b>AssignedTo</b>
                    </div>
                    @for (var counter = 0; counter < Model._dataforGrid.Count; counter++)
                    {
                        @if (Model._dataforGrid[counter] != null)
                        {
                            <div class="neu-text col-2">
                                <a href="@Url.Action("Navigate", "Search",new { ticketid = @Model._dataforGrid[counter].TicketNumber })" target="_blank">@Model._dataforGrid[counter].TicketNumber</a>
                            </div>
                            <div class="neu-text col-2">
                                @Model._dataforGrid[counter].CreatedDate
                            </div>
                            <div class="neu-text col-2">
                                @Model._dataforGrid[counter].status
                            </div>
                            <div class="neu-text col-2">
                                @Model._dataforGrid[counter].Subject
                            </div>
                            <div class="neu-text col-2">
                                @Model._dataforGrid[counter].CreatedDate
                            </div>
                            <div class="neu-text col-2">
                                @Model._dataforGrid[counter].AssignedTo

                            </div>
                        }
                    }
                }
            </div>
        </fieldset>
    </main>
</form>
   


