@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Index" method="post" role="form">
    <main class="container neu-margin--top-20">
        <fieldset>
            <div class="row neu-margin--bottom-20 ">
                <div class="neu-input col-4">
                    <label class="neu-text--caption">
                        Environment
                    </label>
                </div>
                <div class="neu-input col-5">
                    <div tabindex="0"
                         role="radiogroup"
                         class="neu-radiogroup neu-margin--bottom-30 neu-margin--top-10">
                        <div class="neu-radio" tabindex="-1" aria-checked="false">
                            <input type="radio" name="group2"
                                   value="PDF"
                                   tabindex="0"
                                   required />
                            <label class="neu-input__label" for="format-pdf">Production</label>
                        </div>
                        <div class="neu-radio" tabindex="-1" aria-checked="false">
                            <input type="radio" name="group2"
                                   value="XML"
                                   tabindex="0"
                                   required />
                            <label class="neu-input__label" for="format-xml">Training</label>
                        </div>
                        <span class="neu-button--danger"></span>
                    </div>
                </div>
            </div>
            <div class="row neu-margin--bottom-20 ">
                <div class="neu-input col-4">
                    <label class="neu-text--caption">
                        Select Audit /Dispute
                    </label>
                </div>
                <div class="neu-input col-5">
                    <div tabindex="1"
                         role="radiogroup"
                         class="neu-radiogroup neu-margin--bottom-30 neu-margin--top-10">
                        <div class="neu-radio" tabindex="-1" aria-checked="false">
                            <input type="radio" name="group1"
                                   value="PDF"
                                   tabindex="0"
                                   required />
                            <label class="neu-input__label" for="format-pdf">Audit</label>
                        </div>

                        <div class="neu-radio" tabindex="-1" aria-checked="false">
                            <input type="radio" name="group1"
                                   value="XML"
                                   tabindex="0"
                                   required />
                            <label class="neu-input__label" for="format-xml">Dispute</label>
                        </div>
                        <span class="neu-button--danger"></span>
                    </div>
                </div>
            </div>

            <div class="row neu-margin--bottom-20 ">
                <div class="neu-input col-4">
                    <label for="state" class="neu-input__label required">Service Group / Department:</label>
                </div>
                <div class="neu-input col-5">
                    <select class="neu-select" name="CatgID"
                            asp-items="@(new SelectList(@ViewBag.ListOfCategory, "CatgID", "CatgDescription"))">
                    </select>
                    <span class="material-icons neu-input__select-icon">arrow_drop_down</span>
                </div>
            </div>
            <div class="row neu-margin--bottom-20 ">
                <div class="neu-input col-4">
                    <label for="state" class="neu-input__label required">Sub Category:</label>
                </div>
                <div class="neu-input col-5">
                    <select class="neu-select" name="SubCatID"
                        asp-items="@(new SelectList(@ViewBag.ListOfCategory, "CatgID", "CatgDescription"))">
                    </select>
                    <span class="material-icons neu-input__select-icon">arrow_drop_down</span>
                </div>
            </div>

            <div class="row neu-margin--bottom-20 ">
                <div class="neu-input col-4">
                    <label for="state" class="neu-input__label required">AssignedTo:</label>
                </div>
                <div class="neu-input col-5">
                    <select class="neu-select"
                        asp-items="@(new SelectList(@ViewBag.ListOfMembers, "memberID", "membername"))">
                    </select>
                    <span class="material-icons neu-input__select-icon">arrow_drop_down</span>
                </div>
            </div>

            <div class="row neu-margin--bottom-20 ">
                <div class="neu-input col-4">
                    <label for="state" class="neu-input__label required">Start Date:</label>
                </div>
                <div class="neu-input col-5">
                    <input class="neu-input__field"
                           type="datetime" name="dtstartdate"
                           aria-disabled="false" required />
                    <span class="neu-button--danger"></span>
                </div>
            </div>

            <div class="row neu-margin--bottom-20 ">
                <div class="neu-input col-4">
                    <label for="state" class="neu-input__label required">To Date:</label>
                </div>
                <div class="neu-input col-5">
                    <input class="neu-input__field"
                           type="datetime" name="dtenddate"
                           aria-disabled="false" required />
                    <span class="neu-button--danger"></span>
                </div>
            </div>

            <div class="row neu-margin--bottom-20 ">
                <div class="neu-input col-4">
                    <label for="state" class="neu-input__label required">Ticket Status:</label>
                </div>
                <div class="neu-input col-5">
                    <select class="neu-select"
                        asp-items="@(new SelectList(@ViewBag.StatusList, "StatusID", "Statusname"))">
                    </select>
                    <span class="material-icons neu-input__select-icon">arrow_drop_down</span>
                </div>
            </div>

            <div class="row neu-margin--bottom-20 ">
                <div class="neu-input col-4">
                    <label for="state" class="neu-input__label required">Ticket Numbers:</label>
                </div>
                <div class="neu-input col-5">
                    <select class="neu-select"
                        asp-items="@(new SelectList(@ViewBag.ListOfTicket, "TicketID", "Ticket"))">
                    </select>
                    <span class="material-icons neu-input__select-icon">arrow_drop_down</span>
                </div>
            </div>
            <div>
                <button asp-controller="Search" asp-action="Details" class="neu-button--primary neu-button neu-button--raised neu-button--large neu-margin--top-30">
                    Search
                </button>&nbsp;
                <button asp-controller="Search" asp-action="Index"  class="neu-button--primary neu-button neu-button--raised neu-button--large neu-margin--top-30">
                  Clear
                </button>
            </div>
        </fieldset>
    </main>
</form>
@section Scripts
    {
    <!-- Script for the date range picker -->
    <script type="text/javascript" src="~/js/daterangepicker.js"></script>
    <link rel="stylesheet"
          type="text/css"
          href="~/css/daterangepicker.css" />
    <!-- Script for the date range picker -->
    <script  type="text/javascript">
        $(document).ready(function () {
            $("#CatgID").change(function () {
                var categoryID = $('#CatgID').val();
                $.ajax({
                    type: "POST",
                    url: "/search/BindSubCategory",
                    data: { "categoryID": categoryID },
                    success: function (response) {
                        $('#SubCatID').html(''); $("#ShowQuestions").hide();
                        var options = '';
                        options += '<option value="Select">Select SubCategory</option>';
                        for (var i = 0; i < response.length; i++) {
                            options += '<option value="' + response[i].subCatgID + '">' + response[i].subCatgDescription + '</option>';
                        }
                        $('#SubCatID').append(options);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });

            });

        });

        $(function () {
            $('input[name="dtstartdate"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 1901,
                maxYear: parseInt(moment().format('YYYY'), 10)
            });
            $('input[name="dtenddate"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 1901,
                maxYear: parseInt(moment().format('YYYY'), 10)
            });
        });
    </script>
}
