@model HCAaudit.Service.Portal.AuditUI.ViewModel.DisputeModel
@{
    ViewData["Title"] = "Dispute Page";
}
<link href="~/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/css/bootstrap-multiselect.css" rel="stylesheet" />
<link href="~/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="~/lib/DataTables/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/css/responsive.bootstrap4.min.css" rel="stylesheet" />

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/bootstrap-multiselect.min.js"></script>
<script src="~/js/bootstrap-datepicker.min.js"></script>
<script src="~/js/jquery-ui.js"></script>
<script src="~/lib/DataTables/DataTables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/DataTables/DataTables/js/dataTables.bootstrap4.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="row neu-margin--bottom-16">
    <div class="col-12">
        <h3 align="center" class="neu-text--h3 neu-text--bold align-content-xl-center">Dispute</h3>
    </div>
</div>

<div class="card">
    <div class="row">
        <div class="col-sm-3">
            <label for="AuditMain_TicketId" class="neu-input__label">Case ID</label>
            @Html.TextBoxFor(m => Model.AuditMain.TicketId, new { @disabled = true, @class = "neu-input__field" })
            @Html.HiddenFor(x => Model.AuditMain.TicketId)
        </div>
        <div class="col-sm-3">
            <label for="AuditMain_Agent34Id" class="neu-input__label">Agent 3-4 ID</label>
            @Html.TextBoxFor(m => Model.AuditMain.Agent34Id, new { @disabled = true, @class = "neu-input__field" })
        </div>
        <div class="col-sm-3">
            <label for="AuditMain_AgentName" class="neu-input__label">Agent Name</label>
            @Html.TextBoxFor(m => Model.AuditMain.AgentName, new { @disabled = true, @class = "neu-input__field" })
        </div>
        <div class="col-sm-3">
            <label for="AuditMain_TicketDate" class="neu-input__label">Record Date</label>
            @Html.TextBoxFor(m => Model.AuditMain.TicketDate, new { @disabled = true, @class = "neu-input__field" })
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <label for="AuditMain_SubmitDt" class="neu-input__label">Audit Date</label>
            @Html.TextBoxFor(m => Model.AuditMain.SubmitDt, new { @disabled = true, @class = "neu-input__field" })
        </div>

        <div class="col-sm-3">
            <label for="AuditMain_AuditorName" class="neu-input__label">Auditor Name</label>
            @Html.TextBoxFor(m => Model.AuditMain.AuditorName, new { @disabled = true, @class = "neu-input__field" })
        </div>

        <div class="col-sm-3">
            <label for="ServiceDeliveryGroupName" class="neu-input__label">Service Group</label>
            @Html.TextBoxFor(m => Model.ServiceDeliveryGroupName, new { @disabled = true, @class = "neu-input__field" })
        </div>
        <div class="col-sm-3">
            <label for="SubCategoryName" class="neu-input__label">Sub Group</label>
            @Html.TextBoxFor(m => Model.SubCategoryName, new { @disabled = true, @class = "neu-input__field" })
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table id="disputeDataTable" class="neu-table neu-margin--vert-16" width="100%" cellspacing="0">
                <thead class="neu-table__head neu-text--align-center">
                    <tr class="neu-table__header neu-table__sort-icon" style="text-align:center">
                        <th style="display:none">Question ID</th>
                        <th style="width:5%">Rank</th>
                        <th style="width:20%">Question Name</th>
                        <th style="width:5%">Correction Required</th>
                        <th style="width:20%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comments</th>
                        <th style="width:15%">Grace Period</th>
                        <th style="width:15%">Overturn</th>
                        <th style="width:20%">Dispute Comments</th>
                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < Model.AuditNonComplianceModel.Count; i++)
                    {
                        <tr class="neu-table__row--large neu-table__row--striped">
                            <td class="text-center">
                                @Html.HiddenFor(x => x.AuditNonComplianceModel[i].QuestionId)
                                @Html.HiddenFor(x => x.AuditNonComplianceModel[i].QuestionRank)
                                @Html.DisplayFor(x => x.AuditNonComplianceModel[i].QuestionRank)
                            </td>
                            <td>
                                @Html.TextAreaFor(x => x.AuditNonComplianceModel[i].Question, 2, 3, new { @class = "neu-input__textarea", @disabled = "disabled", rows = "5", cols = "50", style = "resize:none" })
                            </td>
                            <td class="text-center">
                                @Html.Label((Model.AuditNonComplianceModel[i].IsCorrectionRequired == true ? "Yes" : "No"))
                            </td>
                            <td>
                                @Html.TextAreaFor(x => x.AuditNonComplianceModel[i].NonComplianceComments, 2, 3, new { @class = "neu-input__textarea", @disabled = "disabled", rows = "5", cols = "50", style = "resize:none" })
                            </td>
                            <td>
                                @Html.DropDownListFor(x => x.AuditNonComplianceModel[i].GracePeriodId, Model.GracePeriod, new { @class = "neu-select" })
                            </td>
                            <td>
                                @Html.DropDownListFor(x => x.AuditNonComplianceModel[i].OverturnId, Model.Overturn, new { @class = "neu-select" })
                            </td>
                            <td style="width:20%">
                                @Html.TextAreaFor(x => x.AuditNonComplianceModel[i].Comment, 2, 3, new { @class = "neu-input__textarea", rows = "5", cols = "50", style = "resize:none" })
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>

<div class="row neu-margin--bottom-10">
    <div class="col-sm-12 neu-text--align-center">
        <span id="errorMessage" class="neu-button--danger"></span>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 neu-text--align-center">
        <button id="btnSave" class="neu-button--primary neu-button neu-button--raised">Save</button>
        <button id="btnCancel" class="neu-button--danger neu-button neu-button--raised neu-margin--left-10">Cancel</button>
    </div>
</div>

<div id="popupcontentdispute" title="Dispute" hidden="hidden" class="container">
    <div class="row neu-margin--bottom-16">
        <div class="col-sm-12">
            <label id="lblcustomtext"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 neu-text--align-center">
            <button id="btnok" class="neu-button--primary neu-button neu-button--raised">OK</button>
        </div>
    </div>
</div>

<div id="popupcontentcanceldispute" title="Cancel Dispute" hidden="hidden" class="container">
    <div class="row neu-margin--bottom-16">
        <div class="col-sm-12">
            <label id="lblcancelcustomtext"></label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 neu-text--align-center">
            <button id="btnyes" class="neu-button--primary neu-button neu-button--raised">Yes</button>
            <button id="btnno" class="neu-button--danger neu-button neu-button--raised neu-margin--left-10">No</button>
        </div>
    </div>
</div>

@section Scripts
    {
    <!-- Script for the date range picker -->
    <script type="text/javascript" src="~/js/daterangepicker.js"></script>
    <link rel="stylesheet"
          type="text/css"
          href="~/css/daterangepicker.css" />

    <!-- Script for the date range picker -->
    <script type="text/javascript">
        $(document).ready(function () {

            $("#btnok").click(function (e) {
                window.location.href = "/Search/Details"
            });

            $("#btnCancel").click(function (e) {
                $("#lblcancelcustomtext").text("Do you want to Cancel this Dispute?");
                $("#popupcontentcanceldispute").dialog('open');
            });


            $("#btnno").click(function (e) {
                $("#popupcontentcanceldispute").dialog('close')
            });

            $("#btnyes").click(function (e) {
                $("#popupcontentcanceldispute").dialog('close');
                window.location.href = "/Search/Details"
            });

            $("#btnSave").click(function (e) {
                e.preventDefault();
                var AuditNonComplianceModel = [];
                AuditNonComplianceModel.length = 0;

                var isSelected = false;

                $.each($("#disputeDataTable tbody tr"), function () {
                    var GracePeriodId = $(this).find('[id$="GracePeriodId"]').val();
                    var OverturnId = $(this).find('[id$="OverturnId"]').val();
                    if (GracePeriodId > 0 || OverturnId > 0) { isSelected = true; }

                    AuditNonComplianceModel.push({
                        QuestionId: $(this).find('[id$="QuestionId"]:hidden').val(),
                        QuestionRank: $(this).find('[id$="QuestionRank"]:hidden').val(),
                        TicketId: $('[id$="AuditMain_TicketId"]:hidden').val(),
                        GracePeriodId: $(this).find('[id$="GracePeriodId"]').val(),
                        OverturnId: $(this).find('[id$="OverturnId"]').val(),
                        Comment: $(this).find('[id$="Comment"]').val()
                    });
                });

                if (!isSelected) {
                    $("#errorMessage").text("Please select action for any one question.");
                    e.preventDefault();
                    return false;
                }

                $.ajax({
                    url: '/Dispute/GetData',
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify(AuditNonComplianceModel),
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        $("#lblcustomtext").text("Dispute Submitted Sucessfully");
                        $("#popupcontentdispute").dialog('open');
                    },
                    error: function (err) {
                        $("#errorMessage").text("Please select action for all questions.");
                    }
                });

            });

            $('[id$="GracePeriodId"]').on("change", function () {
                var $this = $(this);
                if ($this.val() > 0) {
                    $this.closest("tr").find('[id$="OverturnId"]').prop("disabled", true);
                }
                else {
                    $this.closest("tr").find('[id$="OverturnId"]').prop("disabled", false);
                }
            });

            $('[id$="OverturnId"]').on("change", function () {
                var $this = $(this);
                if ($this.val() > 0) {
                    $this.closest("tr").find('[id$="GracePeriodId"]').prop("disabled", true);
                }
                else {
                    $this.closest("tr").find('[id$="GracePeriodId"]').prop("disabled", false);
                }
            });
        });

        $(function () {
            $("#popupcontentdispute").dialog({
                width: 'auto',
                position: {
                    my: "center",
                    at: "center",
                    of: window
                },
                autoOpen: false,
                draggable: false,
                resizable: false
            });
        });


        $(function () {
            $("#popupcontentcanceldispute").dialog({
                width: 'auto',
                position: {
                    my: "center",
                    at: "center",
                    of: window
                },
                autoOpen: false,
                draggable: false,
                resizable: false
            });
        });

    </script>
}
