@{
    ViewData["Title"] = "Questions Page";
}
@model HCAaudit.Service.Portal.AuditUI.Models.Category
<form asp-controller="Question" asp-action="Index" method="post" role="form">
    <main class="container neu-margin--top-20">
        <fieldset>
            <div class="row neu-margin--bottom-20 ">

                <div class="neu-input col-3">
                    <label for="state" class="neu-input__label required">Category:</label>
                    <select class="neu-select" asp-for="CatgID"
                            asp-items="@(new SelectList(@ViewBag.ListOfCategory, "CatgID", "CatgDescription"))">
                    </select>
                    <span class="material-icons neu-input__select-icon">arrow_drop_down</span>
                </div>

                <div class="neu-input col-3">
                    <label for="state" class="neu-input__label required">Sub Category</label>
                    <select class="neu-select" asp-for="SubCatID">
                    </select>
                    <span class="material-icons neu-input__select-icon">arrow_drop_down</span>
                </div>

            </div>
        </fieldset>
    </main>
</form>

<main class="container neu-margin--top-20">
    <fieldset>
        <div class="row neu-margin--bottom-20 ">
            <a id="btnaddquestion" class="neu-button--primary">
                Add Question
            </a>
        </div>
    </fieldset>
</main>

<main class="container neu-margin--top-20">
    <fieldset>
        <div id="ShowQuestions" class="row neu-margin--bottom-20 ">
            @if (Model.CatgID != 0)
            {
                <div class="neu-text col-6" style="background-color: black; color: white; padding: 2px;">
                    <b>Question Text</b>
                </div>
                <div class="neu-text col-1" style="text-align: center; background-color: black; color: white; padding: 2px;">
                    <b>Edit</b>
                </div>
                <div class="neu-text col-3" style="text-align: center; background-color: black; color: white; padding: 2px;">
                    <b>Delete</b>
                </div>
                @for (var counter = 0; counter < Model._questionList.Count; counter++)
                {
                    <!-- Score -->
                    @if (Model._questionList[counter] != null)
                    {
                        <div class="neu-text col-6">
                            @Model._questionList[counter].QuestionText
                        </div>
                        <div class="neu-button col-1">
                            @Html.ActionLink("Edit", "Edit", new { id = @Model._questionList[counter].QuestionId })
                        </div>
                        <div class="neu-button col-3">
                            @Html.ActionLink("Delete", "Delete", new { id = @Model._questionList[counter].QuestionId })
                        </div>
                    }
                }
            }
        </div>
    </fieldset>
</main>

<div id="popupcontent" title="Add Question" hidden="hidden" class="container neu-margin--top-20">
        <div class="row neu-margin--bottom-20 ">
            <div class="neu-input col-3">
                <label for="state" class="neu-input__label required">Category:</label>
                <input class="neu-input__field" id="txtcategory"
                       type="text"
                       aria-disabled="false"
                       disabled="disabled" />
            </div>

            <div class="neu-input col-6">
                <label for="state" class="neu-input__label required">SubCategory:</label>
                <input class="neu-input__field" id="txtsubcategory"
                       type="text"
                       aria-disabled="false"
                       disabled="disabled" />
            </div>

        </div>
        <div class="row neu-margin--bottom-20 ">
            <div class="neu-input col-6">
                <label for="state" class="neu-input__label required">Question Text:</label>
                <input class="neu-input__field" id="txtquestion"
                       type="text"
                       aria-disabled="false" />
            </div>

            <div class="neu-input col-3">
                <label for="state" class="neu-input__label required">Question Volumn:</label>
                <input class="neu-input__field" id="txtquestionvolumn"
                       type="text"
                       aria-disabled="false" />
            </div>
        </div>
        <div>
            <button id="btnsavequestion" class="neu-button--primary neu-button neu-button--raised neu-button--large neu-margin--top-30">
                Add Question
            </button>
        </div>
    </fieldset>
</div>

@section Scripts
    {
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

    <script type="text/javascript">
        $(document).ready(function () {

            $(function () {
                $("#popupcontent").dialog({
                    autoOpen: false
                });

                $("#btnaddquestion").click(function () {
                    var subCategoryID = $("#SubCatID option:selected").text();
                    var categoryID = $("#CatgID option:selected").text();
                    $('#txtcategory').val(categoryID);
                    $('#txtsubcategory').val(subCategoryID);
                    $("#popupcontent").dialog({
                        position: 'bottom'
                    });
                });
            });


            $("#btnaddquestion").hide();
            $("#popupcontent").dialog({ autoOpen: false, modal: true, height: 590, width: 1005 });
            $("#btnaddquestion").click(function () {
                $("#popupcontent").dialog('open');
            });

            $("#btnsavequestion").click(function () {

                var subCategoryID = $('#SubCatID').val() + "^" + $('#txtquestion').val() + "^" + $("#txtquestionvolumn").val();
                $.ajax({
                    type: "POST",
                    url: "/Questions/SaveQuestion",
                    data: { "subcatgid": subCategoryID },
                    success: function (response) {
                        $("#popupcontent").dialog('close');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });

            });
            $("#ShowQuestions").hide();
            $("#CatgID").change(function () {
                var categoryID = $('#CatgID').val();
                $.ajax({
                    type: "POST",
                    url: "/Questions/BindSubCategory",
                    data: { "categoryID": categoryID },
                    success: function (response) {
                        $('#SubCatID').html(''); $("#ShowQuestions").hide();
                        var options = '';
                        options += '<option value="Select">Select SubCategory</option>';
                        for (var i = 0; i < response.length; i++) {
                            options += '<option value="' + response[i].subCatgID + '">' + response[i].subCatgDescription + '</option>';
                        }
                        $('#SubCatID').append(options);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });

            });


            $("#SubCatID").change(function () {
                var subCategoryID = $('#SubCatID').val();
                var categoryID = $('#CatgID').val();
                $.ajax({
                    type: "POST",
                    url: "/Questions/index",
                    data: null,
                    success: function (response) {
                        $("#ShowQuestions").show();
                        $("#btnaddquestion").show();
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });

            });

        });
    </script>
}
