@{
    ViewData["Title"] = "Home Page";
}
@model HCAaudit.Service.Portal.AuditUI.Models.SubCategoryMastList
    
<form asp-controller="Home" asp-action="Index" method="post" role="form">
    <main class="container neu-margin--top-20">
        <fieldset>
            <div id="ShowQuestions" class="row neu-margin--bottom-20 ">
                @if (Model._subCategoryMastList.Count != 0)
                {
                    <div class="neu-text col-3" style="background-color: black; color: white; padding: 2px;">
                        <b>Category Name</b>
                    </div>
                    <div class="neu-text col-3" style="background-color: black; color: white; padding: 2px;">
                        <b>SubCategory Name</b>
                    </div>
                    <div class="neu-text col-1" style="text-align: center; background-color: black; color: white; padding: 2px;">
                        <b>Edit</b>
                    </div>
                    <div class="neu-text col-3" style="text-align: center; background-color: black; color: white; padding: 2px;">
                        <b>Delete</b>
                    </div>
                    @for (var counter = 0; counter < Model._subCategoryMastList.Count; counter++)
                    {
                        @for (var innercounter = 0; innercounter < Model._subCategoryMastList[counter]._subcategoryList.Count; innercounter++)
                        {
                            if (@Model._subCategoryMastList[counter] != null)
                            {
                                <div class="neu-text col-3">
                                    @Model._subCategoryMastList[counter].CatgDescription
                                </div>
                                <div class="neu-text col-3">
                                    @Model._subCategoryMastList[counter]._subcategoryList[innercounter].SubCatgDescription
                                </div>
                                <div class="neu-button col-1">
                                    @Html.ActionLink("Edit", "Edit", new { id = @Model._subCategoryMastList[counter].CatgID })
                                </div>
                                <div class="neu-button col-3">
                                    @Html.ActionLink("Delete", "Delete", new { id = @Model._subCategoryMastList[counter].CatgID })
                                </div>
                            }
                        }
                    }
                }
            </div>
</fieldset>
    </main>
</form>


